<table class="table">
  <thead>
    <th>
      <th>Product</th>
      <th>First main variant</th>
      <th>Second main variant</th>
      <th>Third main variant</th>
    </th>
  </thead>
  <tbody>
    <% @products.each do |p| %>
      <tr>
        <td><%= p.name %></td>
        <td>
          <%= select_tag('main_variant_1', options_from_collection_for_select(p.product_variations, :id, :reference)) %>
        </td>
        <td>
          <%= select_tag('main_variant_2', options_from_collection_for_select(p.product_variations, :id, :reference)) %>
        </td>
        <td>
          <%= select_tag('main_variant_3', options_from_collection_for_select(p.product_variations, :id, :reference)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
